#return_home {
	border: 1px solid black;
}
#return_home:hover {
	border: 1px solid black;
	cursor: pointer;
}
.contenido{
	max-width: 800px;
	text-align: center;
}

.contenido table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 34px;
	color: white;
}

.contenido tr{	
	border: 1px solid red;
	background-color: grey;
}

.contenido th,.contenido td{
	font-family: fontparrafo;
	padding: 5px;
	text-align: center;
}

.opc{
	background-color: black;
}
.opc form{
	display: inline;
}
.opc input{
	background-color: black;
	border: 1px solid #ff00aa;
	color: #ff00aa;
	font-size: 21px;
}
.opc input:hover,.btn_confirmar:hover{
	border: 1px solid #00ffdd;
	color: #00ffdd;
	cursor: pointer;
}
.btn_confirmar{
	background-color: black;
	border: 1px solid #ff00aa;
	color: #ff00aa;
	font-size: 21px;
}
