#img_contenido {
	width: 175px;
	height: 175px;
	float: right;
}
.contenido{
	overflow: auto;	
}
span.boton{
	cursor: pointer;
}
p{
	max-width: 720px;
	margin: 20px;
	display: block;
	font-family: fontparrafo;
	font-size: 32px;
}
div#contacto p{
	display: block;
	max-width: none;
}
div#contacto table{	
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
div#contacto table td{	
	vertical-align: middle;
	text-align: center;
}
div#contacto a{
	display: table-cell;
	font-family: fontparrafo;
	text-decoration: none;
	margin-top: 15px;	
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div#contacto a p{
	color: white;
	margin-left: 105px;
	margin-top: 20px;
}
div#contacto a img{
	height: 80px;
	width: 80px;
	margin-right: 25px;
	float: left;
}
h2{
	font-family: fontsubtitulo;
	letter-spacing: 3px;
	font-size: 56px;
}

div#contacto {
	display: none;
	text-align: center;
}