.contenido{
	max-width: 1100px;
}
.contenido table{
	margin-top: 0;
	font-size: 24px;
	border: none;
	table-layout: fixed;
}
.contenido table td{
	height: auto;
	min-width: 60px;
	height: 62px;
	max-height: 62px;
	max-width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.contenido table tr.pedido:hover{
	cursor: pointer;
	color: #00ffdd;
}