#return_home {
	border: 1px solid black;
}
#return_home:hover {
	border: 1px solid black;
	cursor: pointer;
}
.contenido{
	max-width: 750px;
	overflow: auto;
}
.contenido h2{
	text-align: center;
}
.contenido .colizq{
	display: block;
	float: left;	
}
.contenido .colder{
	display: block;
	float: right;
	text-align: right;
}
.contenido .colizq,.contenido .colder{
	width: 50%;
	font-family: fontparrafo;
}
.contenido .colizq p ,.contenido .colder p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.contenido a,span{
	display: block;
	text-align: center;
	font-family: fontparrafo;
	text-decoration: none;
	color: white;
}
.contenido a:hover,span:hover{
	color: #00ffdd;
	cursor: pointer;
}
#stats{
	display: none;
}
.letrachica{
	font-size: 16px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 15px;
}